$description-font-size: 0.95em;
$description-font-size-phone: 1.55rem;

$h1-font-size: 1.5em;
$h1-font-size-phone: 1.25em;

$default-bg-section: #fff;

$default-red-color: #c91e1e;

$nav-height: 400px;

$body-background-color: #f2f2f2;
