@import "__variables";

section#contact-form {
	background-color: #eaeaea;

	h2 {
		text-align: center;
		margin: 0 auto;
		font-weight: 700;
		text-transform: uppercase;
		color: #e52822;
		margin-bottom: 25px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.container {
		display: block;

		.con {
			display: flex;
			margin: 0 auto;
			justify-content: space-around;
			flex-wrap: wrap;

			.desc {
				padding: 0 40px;

				@media only screen and (max-width: 727px) {
					flex-basis: 100%;
					padding: 0;
				}
				p {
					text-align: justify;
				}
			}

			div,
			form {
				flex-basis: 50%;

				@media only screen and (max-width: 727px) {
					flex-basis: 100%;
				}
			}

			#form {
				textarea,
				input {
					width: 100%;
					border: 0;
					padding: 5px 15px;
					resize: vertical;
					color: #494748;

					&:focus-visible {
						outline: none;
					}
				}
				textarea {
					min-height: 150px;
				}
				div {
					width: 100%;
					margin: 15px 0;

					&:first-child {
						margin-top: 0;
					}
				}
				.btn-custom {
					padding: 5px 15px;
					cursor: pointer;
					border: 0;
					width: min-content;
					margin: 0 auto;
					min-width: fit-content;

					&:hover {
						opacity: 0.6;
					}
				}
			}
		}
	}
}
